<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false">

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <!-- Configuration file storage address -->
    <property name="LOG_PATH" value="./log"/>
    <property name="APP_NAME" value="SpringBoot Concepts"/>
    <springProperty scope="context" name="version" source="spring.application.version"/>

    <!-- Name of microservice -->
    <springProperty scope="context" name="VERSION" source="version.app.release"/>
    <springProperty scope="context" name="APP_NAME" source="version.app.name"/>

<!--    <include resource="./templates/appender-file.xml"/>-->
<!--    <include resource="./templates/appender-console.xml"/>-->

<!--    <logger name="org.springframework" level="WARN"/>-->
<!--    <logger name="ai.dydu.registry" level="WARN"/>-->
<!--    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>-->
<!--    <logger name="org.hibernate.SQL" level="DEBUG"/>-->
<!--    <logger name="org.hibernate.type" level="TRACE"/>-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers class="net.logstash.logback.composite.loggingevent.LoggingEventJsonProviders">
                <pattern>
                    <pattern>
                        {
                        "@version": "${VERSION}",
                        "appName": "${APP_NAME}",
                        "thread_name": "%thread",
                        "hostname": "${hostname}",
                        "message": "%message",
                        "@timestamp": "%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'}",
                        "level": "%level",
                        "logger_name": "%logger"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
        <append>true</append>

        <!-- Configuration Log File Rolling Storage Policy -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_NAME}.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <MaxHistory>1</MaxHistory>
            <maxFileSize>100KB</maxFileSize>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="standard_output_to_console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                {
                "@version": "${VERSION}",
                "appName": "${APP_NAME}",
                "thread_name": "%thread",
                "hostname": "${hostname}",
                "message": "%message",
                "@timestamp": "%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'}",
                "level": "%level",
                "logger_name": "%logger"
                }
            </pattern>
        </encoder>
    </appender>

    <!--http://www.slf4j.org/api/org/apache/log4j/Level.html-->
    <root level="INFO">
        <appender-ref ref="FILE"/>
       <appender-ref ref="standard_output_to_console"/>
    </root>

</configuration>